@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Reusable Design Tokens */
  --color-brand-blue: #133D65;
  --color-text-light: #F8F4F3;
  --color-divider: #E0EDFF;
  --color-white: #FFFFFF;

  /* Hero Overlay */
  --hero-overlay: rgba(0, 0, 0, 0.48);
  --hero-soft-filter: rgba(255, 255, 255, 0.20);

  --hero-heading-width: 894px;
--hero-description-width: 820px;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-blue: var(--color-brand-blue);
  --color-text-light: var(--color-text-light);
  --color-divider: var(--color-divider);
  --color-white: var(--color-white);

  --hero-overlay: var(--hero-overlay);

  --font-poppins: var(--font-poppins);
--font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}